.theme-dark {
    --background-primary: #282c34;
    --background-primary-alt: #2f333d;
    --background-secondary: #21252b;
    --background-secondary-alt: #282c34;
    --background-accent: #000;
    --background-modifier-border: #353941;
    --background-modifier-form-field: rgba(0,0,0,0.3);
    --background-modifier-form-field-highlighted: rgba(0,0,0,0.22);
    --background-modifier-success: #474b53;
    --background-modifier-error: #3d0000;
    --background-modifier-error-rgb: 61, 0, 0;
    --background-modifier-error-hover: #470000;
    --background-modifier-error-cover: rgba(0, 0, 0, 0.6);
    --text-accent: #61afef;
    --text-accent-hover: #69bafd;
    --text-normal: #dcddde;
    --text-muted: #888;
    --text-faint: rgb(81, 86, 99);
    --text-error: #e16d76;
    --text-error-hover: #c9626a;
    --text-highlight-bg: rgba(255,255,0,0.4);
    --text-selection: rgba(0, 122, 255, 0.2);
    --text-on-accent: #dcddde;
    --interactive-normal: #20242b;
    --internactive-hover: #353b47;
    --interactive-accent: #4c787cc;
    --interactive-accent-rgb: 76, 120, 204;
    --interactive-accent-hover: #5082df;
    --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1); 
    --panel-border-color: #181a1f;
    --gray-1: #434a57;
    --gray-2: #7f848e;
    --red: #e06c75;
    --orange: #d19a66;
    --green: #98c379;
    --aqua: #56b6c2;
    --purple: #c678dd;
    --blue: #61afef;
    --yellow: #e5c07b;
    
}